/* header */
.header nav h1 {
  float: none;
  text-align: center;
}

.header nav ul {
  float: none;
}

.header nav ul li {
  float: none;
}

.header nav ul li a {
  padding: 10px;
  text-align: center;
}

/* Section vp */

.vp-content {
  padding-top: 50px;
}

.vp-content h1 {
  font-size: 2rem;
}

/* Section features */

.feature {
  float: none;
  width: 100%;
}

/* Where */
.where {
  padding: 80px 20px 50px 20px;
}

.where-img {
  display: block;
  margin: auto;
  margin-bottom: 3rem;
  border: 0px;
  float: none;
  width: 80%;
}

.where-text {
  float: none;
  width: 100%;
}

/* Contact */

.contact {
    padding: 50px 0px;
    min-height: 80vh;
}
